* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("background.jpg");
    background-size: cover;
    font-family: 'poppins', sans-serif;
}

.container {
    max-width: 1250px;
    margin: auto;
}

.navbar {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 50px;
    max-width: 650px;
    margin: 10px auto 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 10px 15px;
    padding: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 10px black;
    transition: all 0.3s ease;
    display: inline-block;
    padding: 5px;
}

nav ul li a:hover {
    transform: scale(1.25);
}

.button {
    padding: 8px 18px;
    text-align: center;
    cursor: pointer;
    border-right: 1px solid rgb(0, 0, 0);
    border-radius: 30px;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid black;
}

.left input { 
    padding: 8px 18px;
    margin-top: 8px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    border: 2px solid black;

}

.left i {
    position: absolute;
    top: 122px;
    font-size: 18px;
    left: 370px;
}
.barOne .del {
    background-color: #f66161;
}
.barOne .del:hover {
    background-color: #fb4545;
}
.back {
    background-color: rgb(51, 51, 51);
    color: white;
}

.back:hover {
    background-color: rgb(43, 43, 43);
}

.barOne {
    height: 40px;
}

.barOne .left {
    width: 362px;
    float: left;
}

.barOne .right {
    float: right;
}

.table-container {
    width: 800px;
    /* show only till "Date of Birth" column */
    height: 350px;
    overflow-y: auto;
    border: 2px solid black;
    margin: 50px 225px;
    background-color: grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

table {
    border-collapse: collapse;
    background-color: white;
    min-width: 1000px;
    /* force horizontal scroll */
}

th {
    border: 2px solid black;
    padding: 5px 10px;
    height: 35px;
    white-space: nowrap;
}

th.size {
    width: 300px;
}

th.blank {
    width: 200px;
}

tr {
    height: 46px;
}

td {
    border: 2px solid black;
    padding: 5px 10px;
    height: 35px;
    white-space: nowrap;
}
.ctr {
    text-align: center;
}