* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;

}

body {
    background-image: url("background.jpg");
    background-size: cover;
}
.container {
    max-width: 350px;
    margin: 115px auto;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 30px;
}
h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 45px;
}
.form div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 20px;
}
.form .width input {
    width: 162px;
    padding: 0 10px;
    border-radius: 10px;
}
.button {
    text-align: center;
    margin: 45px 0 20px;
}
button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    width: 143px;
    border: 2px solid black;
    padding: 10px;
    margin: 0 5px;
    font-size: 18px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
